.menu-container {
  height: 100%; /* Tornar o container do menu ocupar toda a altura da tela */
  padding: 10px;
}

.mat-subheader {
  color: #fff !important; /* Cor do texto */
  padding: 8px;
  font-size: 1.2em;
}

.mat-list-item a {
  color: #fff; /* Cor do texto dos itens do menu */
  text-decoration: none; /* Remover sublinhado dos links */
}

.mat-list-item:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse sobre os itens */
}

.mat-list-item mat-icon {
  color: #fff; /* Cor dos ícones */
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.mat-toolbar {
  background-color: #1976D2; /* Cor de fundo da barra de ferramentas do menu */
}

.mat-toolbar span {
  color: #fff !important; /* Cor do texto do título */
  font-size: 1.2em;
  margin-left: 16px; /* Espaçamento entre o ícone do menu e o título */
}

.full-height {
  height: 100%; /* Garantir que o conteúdo principal ocupe toda a altura disponível */
}

.main-content {
  padding: 16px;
  color: #333; /* Cor do texto no conteúdo principal */
}

.menu-titulo{
  margin-left: 20px;
}
