<mat-sidenav-container class="menu-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <h2 matSubheader class="menu-titulo">Menu</h2>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/pauta" routerLinkActive="active-link">
        <mat-icon>class</mat-icon>
        Pauta
      </a>
      <a mat-list-item routerLink="/start" routerLinkActive="active-link">
        <mat-icon>class</mat-icon>
        Iniciar Votação
      </a>
      <a mat-list-item routerLink="/relatorio" routerLinkActive="active-link">
        <mat-icon>description</mat-icon>
        Relatório
      </a>
      <a mat-list-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="full-height">
    <div class="menu-content">
      <router-outlet></router-outlet> <!-- O conteúdo da rota será exibido aqui -->
    </div>
  </mat-sidenav-content>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Vote aqui</span>
  </mat-toolbar>
  <div class="menu-content">
    <p>Bem-vindo, {{ username }}!</p>
  </div>
</mat-sidenav-container>
