<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onLogin(loginForm)">
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input matInput required name="username" [(ngModel)]="loginForm.nomeDoUsuario">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" required name="password" [(ngModel)]="loginForm.senha">
        </mat-form-field>
        <div class="button-login">
          <button mat-raised-button color="primary" type="submit">Entrar</button>
        </div>
      </form>
    </mat-card-content>
    <div class="button-cadastro">
      <button mat-button routerLink="/register">Cadastrar</button>
    </div>
  </mat-card>
</div>
