<div class="votacao-container">
  <h2>Votações Disponiveis:</h2>


  <mat-table [dataSource]="votationsPage.content" class="custom-table">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">ID</mat-header-cell>
      <mat-cell *matCellDef="let votation" class="custom-cell custom-id">{{ votation.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Descrição</mat-header-cell>
      <mat-cell *matCellDef="let votation" class="custom-cell custom-id">{{ votation.pauta.descricao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inicioVotacao">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Inicio Votação</mat-header-cell>
      <mat-cell *matCellDef="let votation" class="custom-cell custom-id">{{ votation.inicioVotacao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fimVotacao">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Fim Votação</mat-header-cell>
      <mat-cell *matCellDef="let votation" class="custom-cell custom-id">{{ votation.fimVotacao }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="statusVotacao">
      <mat-header-cell *matHeaderCellDef class="custom-header-cell">Status Votação</mat-header-cell>
      <mat-cell *matCellDef="let votation" class="custom-cell custom-id">{{ votation.statusVotacao }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let votation; columns: displayedColumns"
      (click)="onRowClick(votation.id)"
      style="cursor: pointer"
    ></mat-row>
  </mat-table>
</div>
