<mat-sidenav-container class="home-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <h3 matSubheader>Menu</h3>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <button mat-icon-button (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Sair
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Título do Aplicativo</span>
    </mat-toolbar>

    <div class="main-content">
      <p>Bem-vindo, {{ username }}!</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
