.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

mat-card {
  max-width: 320px;
  width: 100%;
  padding: 20px;
}

.button-cadastro{
  display: flex;
  justify-content: center;
}

.button-login{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
